body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f2f2f2;
}

h1 {
    margin-bottom: 20px;
}

.box {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    width: 320px;
}

h2 {
    margin-bottom: 10px;
}

p {
    margin: 5px 0;
    font-size: 15px;
}
